html {
    position: relative;
}

body {
    background-image: url(../images/dot-grid.png);
    color: black;
}

#category-list li {
    font-size: 1.2vw;
    list-style: none;
    cursor: pointer;
    display: inline-block;
    width: 30%;
    background-color: #007bff;
    border: 2px solid #007bff;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    color: white;
}

#category-list ul {
padding-inline-start: 0px;
}

#category-list li:hover {
    color: white;
    background-color: #0069d9;
    border-color: #0062cc;
}

.answer {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}

#category-display {
    border-radius: 25px;
}

.highlight {
    color: green;
}

.category {
    margin-top: 50px;
    margin-bottom: 20px;
}

#cat-heading {
    margin-top: 50px;
    margin-bottom: 20px;
}

#correct {
    margin-top: 50px;
    margin-bottom: 20px;
}

#check-answer {
    margin-top: 15vh;
}

#result-display {
    margin-top: 25vh;
}

#footer {
    position: fixed;
    bottom: 50px;
    left: 15px;
    width: calc(100% - 30px);
}
#timer {
    padding: 0;
    margin: auto;
    display: block;
    width: 75px;
    margin-top: 5vh;

}
@media only screen and (max-width: 800px) {
    #category-list li {
        width: 48%;
        font-size: 2vw;
    }
  }